/* style de la barra de navigation */

.barre {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    padding-top: 30px;
}

li:first-child {
    float: left;
}


.navright {
    float: right !important;
}

li a {
    color: white;
    text-align: center;
    padding: 14px 40px;
    text-decoration: none;
}

/* style de intro */

/* style du texte en dessous de la barre de navigation  */


.p1 {
    text-align: center;
    font-size: 30px;
    padding-top: 30px;
    color: white;
}

.p2 {
    text-align: center;
    font-family: 'Roboto';
    font-size: 60px;
    color: white;
    padding-bottom: 20px;
}

header {
    background-image: url(image/header.jpg);
    padding: 50px;
    background-position: cover;
}

.elright {
    color: #ddd;
    font-size: 20px;
    text-align: right;
}

.elleft {
    color: #ddd;
    font-size: 20px;
}

.elh {
    color: #ddd;
    font-family: 'Roboto';
    font-size: 20px;
    height: 15px;
}

.column1 {
    padding-left: 10px;
    background-image: url(image/table-1.jpg);
}

.premium {
    font-family: 'Roboto';
    font-size: 20px;
    padding-top: 10px;
    visibility: visible;
}

.column2:hover .premium {
    visibility: hidden;
}

.registerdiscount {
    position: relative;
    top: 0;
    transition: top ease 0.3s;
    padding-bottom: 40px;
}

.column2:hover .registerdiscount {
    top: -120px
}

.register {
    font-family: 'Courier New', Courier, monospace;
    padding-top: 35px;
    font-size: 25px;
}

.discount {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    line-height: 0%;
}

.column2 {
    color: #ddd;
    background-image: url(image/table-2.jpg);
    padding-left: 15px;
    background-repeat: no-repeat;
}


.column2:hover {
    background-image: url(image/table-2-hover.jpg);
    background-position: 150%;
    transition: ease-in-out 0.5s;
}

.butnregister1 a {
    border-style: solid;
    border-color: white;
    font-family: 'Roboto';
    font-size: 20px;
    padding: 20px;
    text-decoration: none;
    color: white;
}


.butnregister1 a:hover {
    color: #00a8ff;
    background-color: white;
}

.butnregister1 {
    position: relative;
    top : 0;
    line-height: 0%;
    visibility: hidden;
}


.column2:hover .butnregister1 {
    visibility: visible;
    top : -60px;
}

.happy {
    font-family: 'Roboto';
    font-size: 20px;
    padding-bottom: 20px;
}

.more {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

.adam {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    padding-top: 5px;
}

.column3 {
    color: #ddd;
    background-image: url(image/table-3.jpg);
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 1px;
}

.services {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    padding-top: 80px;
    text-align: center;
    line-height: 10px;
}

.acheive {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    text-align: center;
    line-height: 10px;
    padding-bottom: 40px;
}

.column {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 10px;
    height: 300px;
}

.row {
    display: -webkit-flex;
    display: flex;
}

.elright {
    text-align: left;
}

.elright {
    padding-left: 80px;
    text-align: right;
}

.row1 {
    padding-top: 20px;
    display: -webkit-flex;
    display: flex;
}

.col {
    border-style: solid;
    border-color: #ddd;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 10px;
    height: 250px;
    text-align: center;
    font-family: 'Roboto';
    font-size: 20px;
    margin: 10px 30px 30px;
    padding-bottom: 60px;
}

.textup {
    position: relative;
    top: 0;
    transition: top ease 0.3s;
    line-height: 0%;
}

.hiddentext {
    visibility: hidden;
    position: relative;
    font-size: 0%;
    transition: 0.2s;
    font-family: 'Roboto';
}

.col:hover .hiddentext {
    visibility: visible;
    font-size: 100%;
}

.log {
    margin-top: 70px;
    position: relative;
    width: 40px;
    top: 0;
    transition: top ease 0.3s;

}

.col:hover .log {
    top: -100px;
    background-color: white;
}

.col:hover {
    border-color: #00a8ff;
}

.col:hover .textup {
    top: -50px
}

.team {
    font-family: 'Roboto';
    font-size: 60px;
    text-align: center;
    line-height: 10px;
}

.we {
    font-family: 'Roboto';
    font-size: 40px;
    text-align: center;
    color: #808080;
    line-height: 10px;
}

.parent {
    position: relative;
    top: 0;
    left: 0;
}

.imageback {
    position: relative;
    top: 0;
    left: 0;
}

.imageprofil {
    border-radius: 50%;
    position: absolute;
    top: 180px;
    left: 120px;
}

.col1 {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 10px;
    height: 250px;
    margin: 10px 10px 10px;
}

.name {
    font-family: 'Roboto';
    font-size: 30px;
    text-align: center;
    padding-top: 80px;
    line-height: 0px;
}

.function {
    font-family: 'Roboto';
    font-size: 20px;
    text-align: center;
    line-height: 0px;
    color: #808080;
}

.butn a {
    border-style: solid;
    border-color: #00a8ff;
    font-family: 'Roboto';
    font-size: 20px;
    padding: 20px;
    text-decoration: none;
    color: #00a8ff;
}

.butn a:hover {
    background-color: #00a8ff;
    color: white;
}

.butn {
    padding: 40px 110px;
}

.dolar {
    font-family: 'Roboto';
    font-size: 30px;
    color: white;
    line-height: 0%;
}

.session {
    font-family: 'Roboto';
    font-size: 20px;
    color: #ddd;
    line-height: 0%;
}

.price {
    padding-bottom: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.back:hover .overlay {
    opacity: 0.9;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #00a8ff;
}

.registerover {
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
}

.discountover {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
}

.textp {
    font-family: 'Roboto';
    font-size: 40px;
    text-align: center;
    line-height: 0%;
    color: white;
    padding-top: 100px;
}

.textc {
    font-family: 'Roboto';
    font-size: 20px;
    text-align: center;
    line-height: 0%;
    color: white;
    padding-bottom: 300px;
}

.pricing {
    margin-top: 400px;
    background-image: url(image/pricing1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.textreserve {
    font-family: 'Roboto';
    font-size: 30px;
    color: white;
    line-height: 0%;
    text-align: left;
}

.textshape {
    font-family: 'Roboto';
    font-size: 20px;
    color: #ddd;
    line-height: 0%;
    text-align: left;
}

footer {
    background-image: url(image/footer.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px 20px 0px 10px;
}

.butnregister {
    transition-duration: 0.4s;
    padding-left: 20px;
    padding-top: 40px;
}

.butnregister a {
    border-style: solid;
    border-color: #00a8ff;
    font-family: 'Roboto';
    font-size: 20px;
    padding: 20px;
    text-decoration: none;
    color: white;
    background-color: #00a8ff;
}

.butnregister a:hover {
    text-decoration: none;
    background-color: #00b7ff;
}

.textfooter {
    padding: 80px 50px 0px 20px;
}

.licenceref {
    text-decoration: none;
    color: #00a8ff;
}

.licencep {
    color: #ddd;
    padding-top: 200px;
    padding-left: 20px;
    padding-bottom: 40px;
}

.textdays {
    font-family: 'Roboto';
    font-size: 20px;
    color: #ddd;
    padding-top: 40px;
    width: 20%;
}

.texttime {
    font-family: 'Roboto';
    font-size: 30px;
    color: #ddd;
    width: 20%;
}



.colfooter {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 10px;
}

.rowfooter {
    display: -webkit-flex;
    display: flex;
}

.textopen {
    font-family: 'Roboto';
    font-size: 30px;
    color: white;
    line-height: 0%;
    text-align: left;
}

.twitterblock{
    text-align: center;
    font-family: 'Roboto';
    background-color: #00a8ff;
    padding-bottom: 150px;
}

.Toenjoy{
    font-size: 30px;
    color: white;
    line-height: 0%;
}

.hashtag{
    font-size: 20px;
    color: #ddd ;
    line-height: 10px;
}

.twittericon{
    height: 50px;
    width: 50px;
}
.imagetwitter{
    padding-top: 50px;
    padding-bottom: 50px;
}

.cadre1{
    background-color: #BEBEBE;
    font-family: 'Roboto';
    font-size: 20px;
    color: white;
    text-align: right;
    width: 25%;
    border-style: solid;
    border-color: #BEBEBE;
    padding: 20px 80px 20px 80px;
    margin-bottom: 40px;
}

.cadre2{
    background-color: #BEBEBE;
    font-family: 'Roboto';
    font-size: 20px;
    color: white;
    text-align: right;
    width: 25%;
    border-style: solid;
    border-color: #BEBEBE;
    padding: 20px 80px 20px 80px;
}

.butncadre a {
    border-style: solid;
    border-color: white;
    font-family: 'Roboto';
    font-size: 20px;
    padding: 20px;
    text-decoration: none;
    color: white;
}


.butncadre a:hover {
    color: #00a8ff;
    background-color: white;
}
